* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-default:'Inter', sans-serif;;
  font-size: 62.5%; /* 10px */

  --zinc950: #09090b;
  --zinc900: #18181B;
  --zinc800: #27272A;

  --zinc400: #A1A1AA;
  --zinc50: #FAFAFA;

  --lime950: #1A2E05;
  --lime300: #BEF264; 
}

html, input, select, button, option {
  font-family: var(--font-default);
  background-color: var(--zinc950);
  color: var(--zinc50);

  line-height: 120%;
  letter-spacing: -0.02em;
}

body {
  font-size: 1.6rem;
  position: relative;
}

.sr-only{
  position: relative;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* modal */
.modal-wrapper::before {
  content: '';
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.60);
  backdrop-filter: blur(4px);

  position: absolute;
  inset: 0;
  z-index: 1;
}

.modal-wrapper{
  position: absolute;
  inset: 0;
 
  display: grid;
  place-content: center;
  margin-top: -12dvh;
  z-index: 2;

  opacity: 0;
  visibility: hidden;
}

.modal-wrapper.open {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.alert {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  width: 28rem;

  background-color: var(--zinc900);
  border-radius: 1.2rem;
  padding: 16px 24px;

  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.03) 
  inset, 0px 1px 0px 0px rgba(255, 255, 255, 0.03) 
  inset, 0px 8px 8px 0px rgba(0, 0, 0, 0.10), 
  0px 4px 4px 0px rgba(0, 0, 0, 0.10), 
  0px 2px 2px 0px rgba(0, 0, 0, 0.10), 
  0px 0px 0px 1px rgba(0, 0, 0, 0.10);

  z-index: 3;
  transform: scale(0.8);
}

.alert.open {
  transform: scale(1);
  transition: transform 200ms ease-in; 
}

.alert > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.alert p {
  font-weight: bold;
}

.alert svg {
  width: 24px;
  fill: var(--lime300);
}

.alert button {
  align-self: flex-end;

  width: 60px;
  height: 40px;
}

.alert button:hover {
  filter: brightness(0.9) drop-shadow(0 0 4px rgba(190, 242, 100, 0.822));
}

.alert button:focus {
  outline: 2px solid var(--zinc400);
}

/* app */
#app {
  max-width: 32rem;
  padding: 4rem 2rem;
  margin: auto;
}

/* Form */
#place {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  font-size: 1.4rem;

  margin-bottom: 3.2rem;
  padding: 2.2rem 1.6rem;
}

input, select {
  all: unset;
}

input, select, button {
  width: 100%;
}

.fields {
  display: grid;
  gap: 0.8rem;
}

.field-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  
  background-color: var(--zinc950);
  padding: 1.8rem;
  border: 1px solid var(--zinc800);
  border-radius: 8px;
}

.field-wrapper:focus-within {
  outline: 2px solid var(--lime300);
}

button {
  background-color: var(--lime300);

  font-weight: 500;
  font-size: 1.6rem;
  color: var(--lime950);
  letter-spacing: -0.02em;

  border: none;
  border-radius: 8px;
  margin-top: 1.2rem;
  padding: 1.2rem 2rem;

  cursor: pointer;
}

.card-bg {
  background-color:var(--zinc900);

  border-radius: 1.2rem;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.03), inset 0px 1px 0px rgba(255, 255, 255, 0.03);
}

/* Main */
main {
  margin-top: 3.2rem;
}

h1 {
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;

  margin-bottom: 2.4rem;
}

section {
  display: grid;
  gap: 1rem;
}

section input[type="checkbox"] {
  position: absolute;
  inset: 0;
}

section .card-bg {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
  padding: 1rem 1.6rem;
}

section .card-bg:focus-within{
  outline: 2px solid var(--lime300);
}

section .card-bg:has(:checked) .active,
section .card-bg .inactive{
  display: block;
}

section .card-bg:has(:checked) .inactive,
section .card-bg .active{
  display: none;
}

section .card-bg > div {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

time {
  font-family: 1.4rem;
  line-height: 140%;
  color: var(--zinc400);
  text-align: right;
}

time.full {
  display: none;
}

section .card-bg {
  animation: appear 300ms;
}

@keyframes appear {
  from {
    opacity: 0;
  }
}